<html lang="en">

<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>


    <section class="posts">

        <% if (fetched.length > 0) { %>
        <% fetched.forEach(fetch => { %>
        <div class="post">
            <a class="singlepost" href="/singlepost/<%= fetch.id %>">
                <div class="facelogo">
                    <p><%= fetch.author %></p>
                    <p><%= fetch.create_time.toISOString().split('T')[0]; %></p>
                </div>

                <div class="content_picture">
                    <img src=<%- fetch.image1 %> />
                </div>

                <div>
                    <p><%= fetch.body %></p>
                </div>

            </a>


            <form class="counter" method="GET" action="/posts/<%= fetch.id %>">
                <button class=" like">
                    <img class="like-img" src=<%- fetch.image2 %> />
                </button>
                <p><%= fetch.counter %></p>
            </form>



        </div>
        <br />
        <% }) %>
        <% } else { %>
        <p>You did not post anything...</p>
        <% } %>

    </section>

    <script>
        const likeBtn = document.getElementById('like');
        likeBtn.addEventListener('click', function (e) {
            console.log('button was clicked');
            const endpoint = `/posts/${likeBtn.dataset.put}`;
            fetch(endpoint, { method: 'PUT' })
                .then(res => res.json())
                .then(jsonRes => {
                    // get the element with the number of votes
                    element.innerText = jsonRes.voteNum
                })

        });



    </script>


    <%- include('partials/footer.ejs') %>

</body>

</html>