<html lang="en">

<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>


    <section class="posts">

        <% if (fetched.length > 0) { %>
        <% fetched.forEach(fetch => { %>
        <div class="post">
            <a class="singlepost" href="/singlepost/<%= fetch.id %>">
                <div class="facelogo">
                    <p><%= fetch.author %></p>
                    <!-- <p> fetch.create_time %></p> -->
                </div>

                <div class="content_picture">
                    <img src=<%- fetch.image1 %> />
                </div>

                <div>
                    <p><%= fetch.body %></p>
                </div>
                
            </a>
            <div class="like">
                <img src=<%- fetch.image2 %> />
            </div>
            <p>
                <%= fetch.counter %>
            </p>
        </div>
        <br />
        <% }) %>
        <% } else { %>
        <p>You did not post anything...</p>
        <% } %>

    </section>


    <%- include('partials/footer.ejs') %>

</body>

</html>