<html lang="en">

<%- include('partials/head.ejs') %>

<body class="single_body">
    <%- include('partials/header.ejs') %>
    <div class="single">
        <div class="face">
            <p><%= fetched.author %></p>

        </div>
        <div class="picture">
            <img src=<%- fetched.image1 %> />
        </div>

        <div class="body">
            <p><%= fetched.body %></p>
        </div>
        <div class="like">
            <img src=<%- fetched.image2 %> />
            <p>
                <%= fetched.counter %>
            </p>
        </div>

    </div>
    <br />
    <button class="delete" data-del="<%= fetched.id %>">Delete</button>

    <script>
        const delreq = document.querySelector('button.delete');
        delreq.addEventListener('click', (e) => {
            const endpoint = `/posts/${delreq.dataset.del}`;
            fetch(endpoint, {
                method: 'DELETE',
            }).then(window.location.href = '/posts')
        });
    </script>
    <%- include('partials/footer.ejs') %>

</body>

</html>