<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single post page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <h2>This is a single post page</h2>
    <div class="singlepost">
        <h2>
            <%= posts.title %>
        </h2>
        <div class="content">
            <p>
                <%= posts.body %>
            </p>
        </div>
        <h2><%= posts.create_time %></h2>
        <h3>Likes: <%= posts.likes %></h3>
        <a class="delete" data-del="<%= posts.id %>">Delete</a>
    </div>
    <script>
        const delreq = document.querySelector('a.delete');
        delreq.addEventListener('click', (e) => {
            const endpoint = `/posts/${delreq.dataset.del}`;
            fetch(endpoint, {
                method: 'DELETE',
            }).then(window.location.href = '/posts')
        });
    </script>
    <%- include('partials/footer.ejs') %>
    
</body>
</html>